header{
    background-color: black;
    color:aliceblue;
    font-size: xx-large;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}
footer{
    font-size: small;
}
.siteBody{
    font-size: large;
}